node_modules
*.log
dist
coverage
.DS_Store
**/_batfish*
src/docs/data
src/components/*/index.js
packages/**/package-lock.json
pkg
src/test-cases-app/component-index.js
src/plugins/add-links-to-headings.js
