./components
node_modules
.DS_Store
dist
pkg
src/test-cases-app/component-index.js
docs/src/pages/files/
docs/src/pages/changelog.md
docs/src/data/components.js
docs/src/prism.css
_site*
.eslintcache
