.prose pre {
  margin-bottom: 0 !important;
}

#docs-content div#dr-ui--page-layout-sidebar {
  position: relative;
  height: 50px !important;
}
@media screen and (min-width: 640px) {
  #docs-content #dr-ui--page-layout-sidebar.overflow-auto-mm {
    overflow: unset !important;
  }
}
#docs-content .sticky-outer-wrapper {
  position: sticky !important;
  top: 0px !important;
}

pre,
.prose pre {
  max-height: 300px;
  margin-bottom: 18px !important;
}

/* set height on examples to prevent page from shifting once their resources load */
.component-example-demoiframe,
.component-example-browser,
.component-example-phone,
.component-example-video {
  height: 500px;
}

/* Prevent tables from overflowing */
.prose table {
  table-layout: fixed;
}
table pre,
table code,
.prose td {
  word-break: break-word;
}

/* load CeraPRO 500 in the test app, we expect it to be available on all docs sites via docs-page-shell */
@font-face {
  font-family: 'CeraPRO';
  font-weight: 500;
  src: url('https://assets.website-files.com/6050a76fa6a633d5d54ae714/6050ab4346858de0e05420ae_Cera%20Pro%20Medium.woff2')
    format('woff2');
}
