.prose pre {
  margin-bottom: 0 !important;
}

/* override sticky behavior on PageLayout and TopbarSticker */
#docs-content .sticky-outer-wrapper.active .sticky-inner-wrapper {
  position: relative !important;
  transform: none !important;
  height: auto !important;
}
#docs-content div#dr-ui--page-layout-sidebar {
  position: relative;
  height: 50px !important;
}
@media screen and (min-width: 640px) {
  #docs-content #dr-ui--page-layout-sidebar.scroll-auto-mm {
    overflow: unset !important;
  }
}
#docs-content .sticky-outer-wrapper {
  position: sticky !important;
  top: 0px !important;
}

pre {
  max-height: 300px;
}
