#docs-content .prose h1,
#docs-content.prose h1 {
  margin-top: 6px;
  margin-bottom: 30px;
  font-size: 36px;
}

#docs-content .prose h2,
#docs-content.prose h2 {
  font-weight: normal !important;
  cursor: pointer;
  font-size: 30px;
  border-top: 1px solid !important;
  border-color: #d6dee8 !important;
  padding-top: 60px;
  margin: 36px 0px 18px;
}

#docs-content .prose h3,
#docs-content.prose h3 {
  font-weight: normal;
  cursor: pointer;
  font-size: 24px;
  padding-top: 40px;
}

@media screen and (min-width:640px) {
  .scroll-auto-mm {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
  }
}
